@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Galada';
*{
margin: 0;
padding: 0;

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  width: auto;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #1a8cff;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

}
h1.header{
    color:white;
    font-size: 125px;
    font-variant: small-caps;
    vertical-align: top;
    text-align: center;

}
body,input{
  font-family:'Open sans',sans-serif;
  font-size:18px;
  color: white;
}
body{
  background-color:#292931;
  background:url(https://i0.imgpile.com/2016/09/14/7861aab59aa07c9499278339f41522c3.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: orange;
  text-align: left center justify;
  font-size: 50px;
  text-decoration: underline;
}

table.users-list{
  border-collapse: collapse;
  margin: 200px auto;
  text-align:left center justify;
  text-decoration: none;
  width:800px;
  border: 10px;


}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-color: white;
  border-style: solid;
  font-size: 20px;
  color: white;
}

tr:hover, td:hover{
  background-color:#1a8cff;
  border: 1px solid #777;
}

<<<<<<< HEAD
=======
/* The sidepanel menu */
.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: auto;
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  border: 1px solid #777;
}
>>>>>>> 1a95f69a5f9e59d4ce9a683ce5067fab086d55f7
