@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Galada';
*{
margin: 0;
padding: 0;

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  width: auto;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #1a8cff;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

}
h1.header{
    color:white;
    font-size: 125px;
    font-variant: small-caps;
    vertical-align: top;
    text-align: center;

}
body,input{
  font-family:'Open sans',sans-serif;
  font-size:18px;
  color: white;
}
body{
  background-color:#292931;
  background:url(https://i0.imgpile.com/2016/09/14/7861aab59aa07c9499278339f41522c3.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: orange;
  text-align: left center justify;
  font-size: 50px;
  text-decoration: underline;
}

table.users-list{
  border-collapse: collapse;
  margin: 200px auto;
  text-align:left center justify;
  text-decoration: none;
  width:800px;
  border: 10px;


}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-color: white;
  border-style: solid;
  font-size: 20px;
  color: white;
}

tr:hover, td:hover{
  background-color:#1a8cff;
  border: 1px solid #777;
}
