*{
margin: 0;
padding: 0;


}
h1.header{
    color:white;
    font-size: 125px;
    font-variant: small-caps;
    vertical-align: top;
    text-align: center;
    background: transparent;

}

p {
  color: orange;
  text-align: left center justify;
  font-size: 50px;
  text-decoration: underline;
}
table.table{
  color: white;
  text-align: left center justify;
  text-decoration: blink;
  font-size: 50px;

}

body{
  background-color:#292931;
  color: white;
 background:url(https://i0.imgpile.com/2016/09/14/7861aab59aa07c9499278339f41522c3.jpg)  no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
